{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <!-- To customize with name   -->
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    <!-- To show email if given   -->
    <h1>{% if email %}{% if 'utoronto' in email %}Your UofT email is {{ email }}{% else %}Please use your UofT email{% endif %}{% endif %}</h1>

</div>
<!--To show the form-->
{{ wtf.quick_form(form) }}
{% endblock %}
